.button {
  display: block;
  padding: 16px 30px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: var(--color-primery-blue);
  border: solid 2px var(--color-primery-blue);
}
