/* reincarnation-section */
.reincarnation-section {
  padding: 0 80px 0 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.reincarnation-head {
  text-align: left;
}
.reincarnation-info {
  width: 720px;
  margin-top: -28px;
}
.reincarnation-text {
  font-size: 22px;
  line-height: 38px;
  text-align: left;
  color: var(--color-primery-dark);
}
.reincarnation-bold {
  font-weight: bold;
  text-transform: capitalize;
}
.reincarnation-photo {
  margin-top: -28px;
}
.reincarnation-img-left,
.reincarnation-img-right {
  filter: drop-shadow(4px 4px 0px #a8c6f533);
}
.reincarnation-img-right {
  float: right;
}
